# Бинарные файлы, скомпилированные Go
*.exe
*.dll
*.so
*.dylib
*.test

# Каталог с зависимостями Go
vendor/

# Кэшированные файлы модуля Go
*.mod
*.sum

# Кэш сборки Go
/build/
*.out

# Лог файлы
*.log

# Настройки IDE
.vscode/
.idea/
*.swp

# Другие системные файлы
.DS_Store
Thumbs.db
